// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos { compatible = "zmk,combos"; };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp Q           &kp W             &kp F           &kp P        &kp B             &kp J      &kp L        &kp U            &kp Y              &kp BSPC
&mt A LEFT_WIN  &mt R LEFT_SHIFT  &mt S LEFT_ALT  &mt T LCTRL  &kp G             &kp M      &mt N RCTRL  &mt E RIGHT_ALT  &mt I RIGHT_SHIFT  &mt O RIGHT_WIN
&kp Z           &kp X             &kp C           &kp D        &kp V             &kp K      &kp H        &kp COMMA        &kp DOT            &kp ENTER
                                                  &kp SPACE    &kp LEFT_SHIFT    &kp LCTRL  &sl 1
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &to 0
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans              &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &kp LS(LEFT_BRACE)  &trans  &trans  &trans  &trans
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6              &kp N7  &kp N8  &kp N9  &kp N0
                        &trans  &trans    &trans              &trans
            >;
        };
    };
};
