// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <31 32>;
        };

        settingt {
            bindings = <&tog 3>;
            key-positions = <31 4 5 32>;
        };
    };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp Q           &kp W             &kp F           &kp P        &kp B             &kp N      &kp I        &kp U            &kp Y              &kp BSPC
&mt A LEFT_WIN  &mt R LEFT_SHIFT  &mt S LEFT_ALT  &mt T LCTRL  &kp G             &kp H      &mt J RCTRL  &mt K RIGHT_ALT  &mt L RIGHT_SHIFT  &mt O RIGHT_WIN
&kp Z           &kp X             &kp C           &kp D        &kp V             &kp E      &kp M        &kp COMMA        &kp DOT            &kp ENTER
                                                  &lt 2 A      &kp LEFT_SHIFT    &kp SPACE  &sl 1
            >;
        };

        symbol {
            bindings = <
&kp PERCENT  &kp AMPERSAND  &kp LBKT        &kp RBKT         &kp LCTRL       &kp EXCLAMATION  &kp LESS_THAN         &kp GREATER_THAN       &kp UNDERSCORE  &kp EQUAL
&kp BSLH     &kp FSLH       &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp ASTERISK    &kp QUESTION     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS       &kp COLON
&kp HASH     &kp PIPE       &kp DOLLAR      &kp TILDE        &kp GRAVE       &kp AT_SIGN      &kp DOUBLE_QUOTES     &kp SQT                &kp PLUS        &kp SEMI
                                            &trans           &trans          &trans           &to 0
            >;
        };

        navigation {
            bindings = <
&kp SLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTERISK    &trans          &trans          &trans        &trans     &trans
&kp N0     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&kp COMMA  &kp N7        &kp NUMBER_8  &kp N9        &kp PLUS        &kp N6          &kp N7          &kp N8        &kp N9     &kp N0
                                       &trans        &trans          &trans          &trans
            >;
        };

        settings {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
